* {box-sizing:border-box}

html {

}

body {
    margin: 0;
}

#weather-widget-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

#weather-widget {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

#weather-info {
    margin-top: 20px;
    font-size: 18px;
}

#weather-widget h2 {
    text-align: center;
    margin: 0 auto; /* Centering the title within the widget */
}


P {
    text-align: center;
    margin: 0 auto;
    background: mistyrose;
    background-size: 80%;
    width: 66%;
    border: 4px black solid;
}

div {
    text-align: center;
}

h1 {
    margin: 0 auto;
    text-align: center;
    font-size: xxx-large;
    background: mediumpurple;
    width: 80%;
}

h2 {
    text-align: center ;
}

h3 {
    text-align: center ;
    border: 3px black solid;
    width: fit-content;
    position: center;
}

h4 {
    text-align: center;
    padding: 3px;
}

figure {
    display: inline-block;
    border: 3px crimson solid;
    background: #5b8dff fixed;
    padding: 4px;
    margin: auto;
    width: fit-content;
    text-align: center;
}

ul  {

}

.Image {
    border: 4px darkslategray solid;
}

.AlbumPic {
    margin: 3px;
}

.AlbumFigure {
    border: 2px solid black;
}

#ImageCollage {
    background: mediumpurple;
    margin-left: 50px;
    margin-right: 50px;
    border: 4px darkslategray solid;
}

#YTFigureCollage {
    text-align: center;
    background: darkslategray;
    border: 4px crimson solid;
    width: 80%;
    position: center;
}

#FigureCollageRev {
    text-align: center;
    background: #ff7559;
    border: 4px black solid;
}

#Links {
    background: lightseagreen;
    border: black 4px solid;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    font-size: large;
}

#TimeWasteLinks {
    border: 3px darkslategray solid;
    width: fit-content;
    height: fit-content;
    margin: auto auto 0;
}

#SunOceanBanner {
    margin: 0 auto;
    width: fit-content;
    border: 3px solid lightseagreen;
}

#RevengeHeader {
    background: mistyrose 60%;
    border: 3px black solid;
    width: fit-content;
    color: crimson;
    position: center;
}



#AlbumCollage {
    border: 3px solid black;
    width: fit-content;
    padding: 25px;
    background-color: #a1abff;
    margin: auto;
    position: center;

}

#bio {
    float: right;
    padding: 4px
}

#Pbio {
    width: fit-content;
    position: absolute;
}

#InterestList {
    text-align: center;
    background: mistyrose;
    background-size: 80%;
    border: 4px solid black;
}

#OccupationList {
    border: darkred 4px dashed;
    background: rgba;
    text-align: center;
    background-size: 80%;
    width: 60;
}

#Revolutions {
    text-align: center;
    width: 80%;
}


/* Slideshow CSS */
/* Slideshow container */
.slideshow-container {
    max-width: 250px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black    ;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    border: 1px solid black;
    background-color: mediumpurple;
}

/* Number text (1/3 etc) */
.numbertext {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 0;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.FunLinkContainer {
    left: 0;
}

.Embed {
    float: left;
}

#Note1 {
    left: 0;
}